* {
    margin: 0;
    padding: 0;
}

.main {
    width: 1920px;
    height: 1080px;
    position: relative;
    background-image: url("../img/MainBackground.png");
    overflow: hidden;
}

.submain {
    width: 1920px;
    height: 1080px;
    background-image: url(../img/Rectangle\ 154.png);
}
.submain2 {
    width: 1920px;
    height: 1080px;
    background-image: url(../img/Rectangle\ 154.png);
}
.submain3 {
    width: 1920px;
    height: 1080px;
    background-image: url(../img/Rectangle\ 154.png);
}
.submain4{
    width: 1920px;
    height: 1080px;
    background-image: url(../img/Rectangle\ 154.png);
}
.navBar {
    width: 1000px;
    height: 1080px;
    position: absolute;
    top: 0;
    left: 300px; /* 초기에는 왼쪽으로 숨김 */
    background-color: #222;
}
#scroll-to-top-button 
{
    position: fixed; 
    bottom: 10px; 
    right: 5px;
    background: none;
    border: none;
    padding: 40px;
}

#image1 {
    position: absolute;
    top: 100px;
    left: 100px;
    transition: left 0.5s ease;
}

#image2 {
    position: absolute;
    top: 100px;
    left: 1080px;
}

#texter 
{
    color: aliceblue;
    top: 500px;
}

#move {
    width: 900px;
    height: 500px;
    margin-top: 200px;
    margin-left: 540px;
    transition: border-radius 0.3s ease;
    overflow: hidden;
    position: absolute;
}

#move.fullscreen {
    border-radius: 0;
}
#move2{
    width: 900px;
    height: 500px;
    margin-top: 200px;
    margin-left: 540px;
    transition: border-radius 0.3s ease;
    overflow: hidden;
    position: absolute;
}
#move2.fullscreen {
    border-radius: 0;
}
#logo
{
    position: absolute;
    margin-left: 700px;
    top: 200px;
    
}
#ddd{
    top: 750px;
    position: absolute;
    margin-left: 810px;
    font-size: 30px;
    color: white;
    font-family: "PretendardVariable"
}
#aaa{
    top: 700px;
    position: absolute;
    margin-left: 870px;
    font-size: 20px;
    color: white;
    font-family: "PretendardVariable"
}
.dddd{
    width: 1920px;
    height: 1080px;
    background-image: url("../img/2background.png");
    position: relative;
    overflow: hidden;

}
.motion-blur {
    filter: blur(8px); /* 초기에는 모션 블러 효과를 적용하여 숨김 */
    opacity: 0; /* 초기에는 투명도를 0으로 설정하여 숨김 */
    transition: filter 0.5s ease, opacity 0.5s ease; /* 모션 블러와 투명도에 트랜지션 효과 적용 */
}
.show {
    filter: blur(0); /* 모션 블러 효과 제거하여 보이게 함 */
    opacity: 1; /* 투명도를 1로 설정하여 보이게 함 */
}
#project {
    margin-top: 50px;
    position: absolute;
    color: #5F6C37;
    font-size: 21px;
    left: 390px;
    margin-top: 210px;
    font-family:  "PretendardVariable";
    font-weight: bold;
}


#videoElement {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute;
}
#prom {
    position: relative;
    color: #70573B;
    font-size: 38px;
    writing-mode: vertical-lr;
    margin-left: 390px;
    top: 300px;
    font-family: "마루 부리OTF";
}
#line{
    position: absolute;
    top: 200px;
    left: 960px;
}

#prom2 {
    position: absolute;
    color: #70573B;
    font-size: 38px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-left: 450px;
    top: 300px;
    font-family: "마루 부리OTF";
}
#prom3 {
    position: absolute;
    color: #70573B;
    font-size: 38px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin-left: 510px;
    top: 300px;
    font-family: "마루 부리OTF";
}


#icon76{
    position: absolute;
    top: 250px;
    margin-left: 1250px;
}
#texter4{
    font-size: 40px;
    color: #70573B;
    margin-top: 30px;
    margin-right: 20px;
}
#line2{
    margin-top: 30px;
}
#ptag{
    font-size: 24px;
    width: 390px;
    color: #70573B;
    margin-top: 40px;
}
#ptag2{
    font-size: 24px;
    width: 390px;
    color: #70573B;
    margin-top: 10px;
}
#ptag3{
    font-size: 24px;
    width: 390px;
    color: #70573B;
    margin-top: 10px;
}
#ptag4{
    font-size: 24px;
    width: 390px;
    color: #70573B;
    margin-top: 10px;
}
#button {
    position: fixed;
    z-index: 2; /* 네비게이션 바 위에 위치하도록 설정 */
    top: 10%;
    left: 0;
    background-color: transparent;
    cursor: pointer; /* 커서를 손가락 모양으로 변경 */
    transform: translateY(-50%);
}



#playtext1{
    margin-top: 120px;
    left: 920px;
    position: absolute;
    color: #5F6C37;
    font-family: "PretendardVariable";
    font-weight: bold;
    
}
#playtext3{
    margin-top: 120px;
    left: 915px;
    position: absolute;
    color: #5F6C37;
    font-family: "PretendardVariable";
    font-weight: bold;
    
}
#playtext2{
    margin-top: 180px;
    left: 200px;
    position: absolute;
    color: #5F6C37;
    font-family: "PretendardVariable";
    font-size: 21px;
}
#texteses{
    position: absolute;
    margin-top: 750px;
    margin-left: 450px;
}
#botton2{
    position: absolute;
    margin-top: 750px;
    margin-left: 650px;
    font-family: "PretendardVariable";
    color: #70573B;
}
#munhak{
    position: absolute;
    margin-top: 290px;
    margin-left: 200px;
}
#munhak2{
    position: absolute;
    margin-top: 280px;
    margin-left : 270px;
}
#munhak3{
    position: absolute;
    margin-top: 280px;
    margin-left : 340px;
}
#lord{
    position: absolute;
    left: 700px;
    margin-top: 180px;
}

#star{
    position: absolute;
    left: 1150px;
    margin-top: 180px;
}
#love{
    position: absolute;
    left: 1600px;
    margin-top: 180px;
}
#flower{
    position: absolute;
    left: 2050px;
    margin-top: 180px;
}
#flowertext{
    position: absolute;
    left: 2050px;
    margin-top: 720px;
}
#startext{
    position: absolute;
    left: 1150px;
    margin-top: 720px;
}
#lovetext{
    position: absolute;
    left: 1600px;
    margin-top: 720px;
}
#lordsinguo{
    position: absolute;
    margin-left: 700px;
    margin-top: 720px;
    color: #70573B;
}
#button2{
    position: absolute;
    margin-top: 480px;
    margin-left: 500px;
    width: 100px;
}

#font{
    position: absolute;
    margin-top: 980px;
    margin-left: 700px;
    font-family: "PretendardVariable";
    color: #70573B;
    font-size: 20px;
}
.slide {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}
#team{
    font-family: "PretendardVariable";
    font-weight: bold;
    color: #5F6C37;
    font-size: 28px;
    position: absolute;
    margin-left: 968px;
    margin-top: 200px;
}

#border{
    margin-left: 850px;
    margin-top: 250px;
}
#bak{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 450px;
    margin-top: 50px;
    font-size: 28px;
}
#line4{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 422px;
    margin-top: 100px;
    font-size: 28px;
}
#line5{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 933px;
    margin-top: 100px;
    font-size: 28px;
}
#line6{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 1422px;
    margin-top: 100px;
    font-size: 28px;
}
#cherther{
    margin-left: 410px;
    margin-top: 140px;
}
#cherther2{
    margin-left: 341px;
    margin-top: 140px;
}
#cherther3{
    margin-left: 300px;
    margin-top: 140px;
}
#bak2{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 440px;
    margin-top: 35px;
    font-size: 24px;
}
#bak3{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 455px;
    margin-top: 70px;
    font-size: 24px;
    font-weight: bold;
}
#bak4{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 955px;
    margin-top: 35px;
    font-size: 24px;
}
#bak5{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 960px;
    margin-top: 70px;
    font-size: 24px;
    font-weight: bold;
}
#bak6{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 1447px;
    margin-top: 35px;
    font-size: 24px;
}
#bak7{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 1442px;
    margin-top: 70px;
    font-size: 24px;
    font-weight: bold;
}
#no{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 960px;
    margin-top: 50px;
    font-size: 28px;
}
#woo{
    position: absolute;
    font-family: "PretendardVariable";
    color: #70573B;
    margin-left: 1450px;
    margin-top: 50px;
    font-size: 28px;
    
}
footer{
    background-image: url('../img/footer.png');
    width: 1920px;
    height: 615px;
}
#logo2{
    width: 151px;
    height: 141px;
    position: absolute;
    margin-top: 400px;
    margin-left: 400px;
}
#lastline{
    margin-top: 400px;
    margin-left: 600px;
}
#footertext{
    position: absolute;
    margin-top: 440px;
    margin-left: 700px;
    color: white;
    font-family: "마루 부리OTF";
}
#footertext2{
    position: absolute;
    margin-top: 440px;
    margin-left: 850px;
    color: white;
    font-family: "마루 부리OTF";
}
#footertext3{
    position: absolute;
    margin-top: 490px;
    margin-left: 850px;
    color: white;
    font-family: "마루 부리OTF";
}
#footertext4{
    position: absolute;
    margin-top: 540px;
    margin-left: 850px;
    color: white;
    font-family: "마루 부리OTF";
}
#footertext5{
    position: absolute;
    margin-top: 440px;
    margin-left: 1000px;
    color: white;
    font-family: "마루 부리OTF";
}
#footertext6{
    position: absolute;
    margin-top: 490px;
    margin-left: 1000px;
    color: white;
    font-family: "마루 부리OTF";
}
#footertext7{
    position: absolute;
    margin-top: 510px;
    margin-left: 1400px;
    color: #D9663A;
    font-family: "PretendardVariable";
}
#footertext8{
    position: absolute;
    margin-top: 550px;
    margin-left: 1290px;
    color: #D9663A;
    font-family: "PretendardVariable";
}
#footertext9{
    position: absolute;
    margin-top: 590px;
    margin-left: 1130px;
    color: #D9663A;
    font-family: "PretendardVariable";
}

#texter5{
    position: absolute;
    margin-left: 150px;
}
#texter6{
    position: absolute;
    margin-left: 150px;
}
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    transform: translateX(-100%); /* 네비게이션을 왼쪽으로 이동시킴 */
    transition: transform 0.5s ease; /* 자연스러운 이동을 위한 트랜지션 설정 */
    z-index: 20;
    background-image: url("../img/nav.png");
}
.show-navigation {
    transform: translateX(0); /* 네비게이션을 보이도록 왼쪽으로 이동시킴 */
}
#exit {
    position: absolute;
    top: 9%;
    right: 93.5%;
    transform: translateY(-50%);
    cursor: pointer;}   
    #slideWrap {
        width: 400px;
        height: 380.47px;
        
        overflow: hidden;
        position: relative;
      }
  
    #slider {
        height: 100%;
       
        position: absolute;
    }
    #slider ul {
        display: inline;
    }
    #slider li {
        float: left;
        width: 300px;
        height: 100%;
      }
     .hideme {
    opacity: 0;
}

.showme {
    -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    &.top {
        -webkit-animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &.right {
        -webkit-animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &.bottom {
        -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &.left {
        -webkit-animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-left 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}


@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}